<div class="card">
  <h3 class="card-header">{{title}}</h3>
  <div class="card-body">
    <p class="card-text">{{post_content}}</p>
    Posted by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</div>